@use "variables" as *;

.header-container {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  padding-block: 10px;
  max-width: 960px;
  padding-inline: 4%;
}
.header__logo {
  width: 120px;
  height: 40px;
}
.header__nav {
  display: flex;
  align-items: center;
  font-size: $font-size-sm;
  color: #24292e;
}
.header__lists {
  display: flex;
  gap: 30px;
}
