$font-family-main: "Meiryo", "メイリオ", sans-serif;
$color-main: #383e45;

@mixin header-font {
  font-family: $font-family-main;
  font-weight: 400;
  font-size: 1rem;
  color: $color-main;
}

@mixin title-font {
  font-family: $font-family-main;
  font-weight: 700;
  font-size: 2rem;
  color: $color-main;
  border-bottom: 1px solid $font-family-main;
}

@mixin container {
  max-width: 960px;
  padding-inline: 4%;
}
